/* GLOBAL */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  margin-left: auto;
  margin-right: auto;
  color: #2e2f42;
  max-width: 1440px;
}

.form-label {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 12px;
  color: #8e8f99;
}

.form-input {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  padding: 8px;
}

.form-submit {
  align-self: center;
  width: 169px;
  height: 56px;
  background: #4d5ae5;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

.form-submit:hover {
  background: #404bbf;
}

.modal-submit:hover,
.modal-submit:focus {
  background: #404bbf;
}
.modal-textarea {
  height: 120px;
  resize: none;
}

.is-hidden {
  visibility: hidden;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100vh;

  inset: 0;
  background: rgba(46, 47, 66, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 9999;
}

.modal {
  width: 420px;

  height: auto;
  background: #fff;
  border-radius: 4px;
  padding: 50px 40px;
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 20px;
  z-index: 10000;
  padding-top: 70px;
  padding-bottom: 30px;
}
.modal-title {
  font-family: roboto;
  font-style: medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.modal-field {
  position: relative;
  display: block;
}

.modal-input {
  width: 100%;
  height: 40px;
  top: 150px;
  padding: 16px 20px 16px 44px; /* Soldan boşluk önemli */
  padding-left: 50px !important;
  box-sizing: border-box;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  transition: border-color 200ms ease;
  font-size: 16px;
  outline: none;
  white-space: nowrap;
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input-wrap {
  position: relative;
  display: block;
  margin-bottom: 16px;
}

.modal-input:focus {
  outline: none;
  border-color: #4d5ae5;
}

.modal-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-10%);
  pointer-events: none;
  fill: #434455;
  transition: fill 150ms ease;
  width: 18px;
  height: 18px;
}

.modal-label {
  font-size: 12px;
  color: #8e8f99;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  padding: 16px 20px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  font-size: 16px;
  resize: none;
}

.modal-textarea:focus {
  border-color: #4d5ae5;
  outline: none;
}

.modal-input:focus + .modal-input-icon {
  fill: #4d5ae5;
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  font-size: 14px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  background-color: #e7e9fc;
  color: #2e2f42;
  cursor: pointer;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
  color: #ffffff;
}

.modal-button {
  background: #4d5ae5;
  color: #fff;
  width: 169px;
  height: 56px;
  padding: 16px 32px;
  border-radius: 4px;
  margin: 24px auto 0;
}

/* Gerçek checkbox – görünmez ama tıklanabilir */
.modal-privacy-input {
  position: absolute;
  opacity: 0;
  width: 1px;
  height: 1px;
  margin: 0;
  padding: 0;
}

.modal-privacy {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  color: #8e8f99;
}

.modal-privacy-box {
  width: 16px;
  height: 16px;
  border: 1px solid #8e8f99;
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 0;
}

.modal-privacy-icon {
 
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.modal-privacy-link {
  color: #4d5ae5;
  text-decoration: underline;
}

/* input işaretlenince */
.modal-privacy-input:checked + .modal-privacy-box {
  background-color: #4d5ae5;
  border-color: #4d5ae5;
}

.modal-privacy-input:checked + .modal-privacy-box .modal-privacy-icon {
  opacity: 1;
}

.nav-link {
  position: relative;
  padding-bottom: 4px;
  display: inline-block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;

  width: 100%;
  height: 4px;
  background-color: #4d5ae5;
  border-radius: 2px;

  transform: scaleX(0);
  transform-origin: left;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}

.nav-link:hover::after {
  transform: scaleX(1);
}

.nav-link:hover {
  color: #4d5ae5;
}

/* CONTAINER */
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 120px 0;
}

/* HEADER */
.header {
  border-bottom: 1px solid #e7e9fc;
  background-color: #ffffff;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  color: #2e2f42;
  text-decoration: none;
  font-weight: 500;
}

.nav-link:hover {
  color: #4d5ae5;
}

/* HERO */
.hero {
  position: relative;
  height: 600px;
  background-image: url("../images/people-working.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: #2e2f42b2; /* %70 opacity layer */
  backdrop-filter: none; /* Blur istersen buraya eklicem */

  z-index: 1;
}

.hero .container {
  position: relative;
  z-index: 2;
}

.hero-title {
  font-size: 56px;
  color: white;
  margin-bottom: 48px;
}

.hero-button {
  background-color: #4d5ae5;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  width: 169px;
  height: 56px;
  cursor: pointer;
}

.hero-button:hover {
  background-color: #404bbf;
}

/* FEATURES */
.features-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.feature-item {
  width: 264px;
}

.feature-icon-box {
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  border: 2px solid rgba(192, 192, 192, 0.75);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.feature-icon {
  fill: #2e2f42;
}

.feature-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.feature-text {
  color: #434455;
  font-size: 16px;
  line-height: 24px;
}

/* LOGO */
.logo {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
}

.logo-blue {
  color: #4d5ae5;
}

.logo-dark {
  color: #2e2f42;
}

/* TEAM */
.team {
  background-color: #f4f4fd;
  text-align: center;
}

.team-title {
  font-size: 36px;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-item {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding-bottom: 12px;
  box-shadow:
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 2px rgba(0, 0, 0, 0.08);
  transition: box-shadow 250ms ease;
}

.team-item:hover {
  transform: translateY(-6px);
  box-shadow:
    0px 4px 12px rgba(46, 47, 66, 0.12),
    0px 4px 4px rgba(46, 47, 66, 0.1);
}

.team-item img {
  background-color: #ffffff;
  width: 100%;
  height: auto;
  display: block;
}

.team-info {
  padding-top: 32px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.icon {
  fill: #fff;
}

.team-social {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 20px 0 24px;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 24px; /* ikonlar arası boşluk */
  padding: 0;
  margin: 16px;
}

.social-links li {
  list-style: none;
}

.social-link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms ease;
}

.social-link:hover {
  background-color: #404bbf;
}

/* PORTFOLIO */
.portfolio-title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  border: 1px solid #e7e9fc;

  transition:
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item img {
  width: 100%;
  height: 300px;
  display: block;
  object-fit: cover;
}

.portfolio-info {
  padding: 32px 16px;
}

.portfolio-item:hover {
  box-shadow: 0px 4px 8px rgba(46, 47, 66, 0.08);
  transform: translateY(-6px);
}

.portfolio-name {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
}

.portfolio-type {
  font-size: 16px;
  color: #434455;
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

/* Overlay */
.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;

  color: #fff;
  font-size: 16px;
  line-height: 1.5;
  padding: 40px 32px;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-overlay {
  transform: translateY(0);
}

/* CONTACT */
.contact {
  display: flex;
  gap: 40px;
}

.contact-link {
  color: #434455;
  text-decoration: none;
}

.contact-link:hover {
  color: #4d5ae5;
}

.contact {
  font-style: normal;
}

/* FOOTER */

.page-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 120px; /* sol blok ile sağ blok arası mesafe */
}

/* left*/
.footer-left {
  max-width: 264px;
}

.footer-text {
  margin-top: 16px;
  color: #e7e9fc;
  font-family: roboto;
  font-style: regular;
  font-weight: 400px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

/* right*/
.footer-right {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  margin-top: 0; /* çok aşağıda görünürse burayla oynarız */
}

.footer-social-title {
  font-family: roboto;
  font-weight: 500;
  font-style: medium;
  line-height: 16px;
  letter-spacing: 0.02em;
  margin: 0 0 16px 0;
  font-size: 16px;
  color: #ffffff;
}

.footer-links {
  display: flex;
  gap: 16px;
  padding: 0;
  margin: 0;
}

.footer-links li {
  list-style: none;
}

.footer-link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms ease;
}

.footer-link:hover {
  background-color: #404bbf;
}

.footer-link .icon {
  fill: #ffffff;
}

.footer-left .logo-light {
  color: white;
}

.subscribe-container {
  margin-left: 120px;
  margin-top: -38px;
}

.subscribe-title {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  font-family: roboto;
  font-style: medium;
  line-height: 16px;
  letter-spacing: 0.02em;
  margin: 0 0 16px 0;
  font-size: 16px;
}

.subscribe-form {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.subscribe-form input {
  padding: 14px 16px;
  width: 264px;
  height: 40px;
  top: 140px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 4px;
  color: #fff;
}

.subscribe-btn {
  display: flex;
  gap: 16px;
  width: 165px;
  height: 40px;
  top: 8px;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  padding: 14px 24px;
  color: #fff;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.subscribe-btn .icon {
  fill: #fff;
}
